{% load static %}
{% load main_tags %}
{% tag_contacts_email as email %}
{% tag_contacts_phone as phone %}
<footer id="footer" class="mt-5">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between py-5">
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-001">
            <div class="footer-intro mb-4">
              <a href="{% url "main:index" %}">
                <img src="{% static "deps/images/logo.png" %}" alt="ІОНЕКС" width="112" height="45">
              </a>
            </div>
            <p>«Є тільки дві речі, які людина ніколи не забуде, – його перший вейп та перше кохання.»<br/>Джон Бейн</p>
            <div class="social-links">
              <ul class="list-unstyled d-flex flex-wrap gap-3">
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title text-uppercase mb-4">Швидкі посилання</h5>
            <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
              <li class="menu-item">
                <a href="index.html" class="item-anchor">Home</a>
              </li>
              <li class="menu-item">
                <a href="index.html" class="item-anchor">About</a>
              </li>
              <li class="menu-item">
                <a href="blog.html" class="item-anchor">Services</a>
              </li>
              <li class="menu-item">
                <a href="styles.html" class="item-anchor">Single item</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-003">
            <h5 class="widget-title text-uppercase mb-4">Help & Info</h5>
            <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
              <li class="menu-item">
                <a href="#" class="item-anchor">Track Your Order</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Returns + Exchanges</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Shipping + Delivery</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contact Us</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Find us easy</a>
              </li>
              <li class="menu-item">
                <a href="index.html" class="item-anchor">Faqs</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-004 border-animation-left">
            <h5 class="widget-title text-uppercase mb-4">Наші контакти</h5>
            <p>Якщо у Вас є питання та пропозиції? <a href="mailto:{{email}}"
                class="item-anchor">{{email}}</a></p>
            <p>Якщо необхідна підтримка. Дзвоніть нам! <a href="#" class="item-anchor">{{phone}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="border-top py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex flex-wrap">
            <div class="shipping">
              <span>Доставляємо:</span>
              <img src="{% static "deps/images/ukrposhta.png" %}" alt="ukrposhta" width="60" height="24">
              <img src="{% static "deps/images/nova-poshta.png" %}" alt="nova-poshta" width="60" height="24">
            </div>
            <!--<div class="payment-option">
              <span class="ps-2">Платежі:</span>
              <img src="{% static "deps/images/fondy.png" %}" alt="fondy" width="60" height="24">
              <img src="{% static "deps/images/visa-card.png" %}" alt="visa-card">
            </div>-->
          </div>
          <div class="col-md-6 text-end">
            <p>© Copyright 2025 ІОНЕКС. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>