{% extends "root.html" %}
{% load static %}
{% load goods_tags %}
{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{{title}}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url "main:index" %}">Головна</a></li>
            <li class="current"><a href="{% url "services:all" %}">Всі послуги</a></li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">
      <div class="container">
        <div class="row gy-4">
          {% for service in list_of_services %}
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-briefcase icon flex-shrink-0"></i>
              <div>
                {% if service.category %}
                <h4 class="title"><a href="{% url "services:service" service.slug %}" class="stretched-link">{{service.name}}</a></h4>
                {% else %}
                <h4 class="title"><a href="{% url "services:index" service.slug %}" class="stretched-link">{{service.name}}</a></h4>
                {% endif %}
                <p class="description">{{service.description}}</p>
              </div>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}
        </div>
      </div>
    </section><!-- /Services Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>ІОНЕКС</h2>
        <p>Чому обирають нас:<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-1">Професійний підхід до кожного клієнта</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-2">Чіткі терміни та відповідальність за результат</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-3">Прозоре ціноутворення без прихованих платежів</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-4">Підтримка та консультації на всіх етапах співпраці</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-5">Багаторічний досвід та позитивні відгуки клієнтів</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="features-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Нам довіряють, бо ми працюємо для результату!</h3>
                    <p class="fst-italic">ІОНЕКС. Сучасні рішення для безпечної радіології!</p>
                    <p>Кожен наш проєкт — це індивідуальний підхід, увага до деталей та орієнтація на потреби клієнта. Ми гарантуємо якість, дотримання строків та прозорі умови співпраці.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Нам довіряють, бо ми працюємо для результату!</h3>
                    <p class="fst-italic">ІОНЕКС. Сучасні рішення для безпечної радіології!</p>
                    <p>Кожен наш проєкт — це індивідуальний підхід, увага до деталей та орієнтація на потреби клієнта. Ми гарантуємо якість, дотримання строків та прозорі умови співпраці.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Нам довіряють, бо ми працюємо для результату!</h3>
                    <p class="fst-italic">ІОНЕКС. Сучасні рішення для безпечної радіології!</p>
                    <p>Кожен наш проєкт — це індивідуальний підхід, увага до деталей та орієнтація на потреби клієнта. Ми гарантуємо якість, дотримання строків та прозорі умови співпраці.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Нам довіряють, бо ми працюємо для результату!</h3>
                    <p class="fst-italic">ІОНЕКС. Сучасні рішення для безпечної радіології!</p>
                    <p>Кожен наш проєкт — це індивідуальний підхід, увага до деталей та орієнтація на потреби клієнта. Ми гарантуємо якість, дотримання строків та прозорі умови співпраці.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Нам довіряють, бо ми працюємо для результату!</h3>
                    <p class="fst-italic">ІОНЕКС. Сучасні рішення для безпечної радіології!</p>
                    <p>Кожен наш проєкт — це індивідуальний підхід, увага до деталей та орієнтація на потреби клієнта. Ми гарантуємо якість, дотримання строків та прозорі умови співпраці.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Features Section -->
{% endblock content %}